.aboutAndTecnologiesContainer {
  display: flex;
  justify-content: space-between;
}

.aboutTitle {
  margin: 0;
  font-size: 50px;
  margin-bottom: 30px;
  color: #b8b42d;
}

.aboutTextGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 460px;
  font-size: 16px;
  font-weight: 400;
}

.aboutTextGroup p {
  margin: 0;
}

.tecnologiesTitle {
  margin: 0;
  font-size: 50px;
  margin-bottom: 30px;
  color: #b8b42d;
}

.TagsGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 280px;
  background-color: #1d1d1d;
  padding: 16px 20px;
  border-radius: 20px;
  margin-bottom: 12px;
}

.TagsGroup p {
  margin: 0;
  width: fit-content;
  white-space: nowrap;
  border: 1px solid #b8b42d;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  color: #b8b42d;
}
