.headerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-size: 16px;
  font-weight: 700;
  color: #b8b42d;
  max-width: 100px;
}

.headerNav {
  display: flex;
  gap: 60px;
}

.headerNav p {
  font-size: 14px;
  transition: all 0.3s ease;
}

.headerNav p:hover {
  color: #b8b42d;
  cursor: pointer;
}

.titleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.titleGroup {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.titleTag {
  margin: 0;
  margin-bottom: -50px;
  font-size: 30px;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 130px;
  letter-spacing: 3px;
}

.description p {
  margin: 0;
}

.description {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #9e9e9e;
}

.homeButtonsGroup {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.worksButton,
.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  padding: 0 40px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
}

.worksButton {
  background-color: #b8b42d;
  border: 3px solid #b8b42d;
  color: #171717;
  transition: all 0.3s ease;
}

.worksButton:hover {
  transform: scale(1.05);
}

.contactButton {
  background-color: transparent;
  border: 3px solid #b8b42d;
  color: #b8b42d;
  transition: all 0.3s ease;
}

.contactButton:hover {
  transform: scale(1.05);
}
