.projectsContainer {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.projectsTitle {
  text-align: center;
  margin: 0;
  font-size: 50px;
  margin-bottom: 30px;
  color: var(--accent-yellow);
}

.tagsGroup {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.tag {
  margin: 0;
  width: fit-content;
  white-space: nowrap;
  border: 1px solid var(--accent-yellow);
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  color: var(--accent-yellow);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

.tag:hover {
  transform: scale(1.05);
}

.activeTag {
  background-color: var(--accent-yellow);
  color: var(--bg-card);
}

.projectsBoxesGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 24px;
  justify-content: center;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.projectBox {
  background: var(--bg-card);
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.projectBoxTitle {
  margin: 0;
  font-size: 22px;
  text-align: left;
  width: 100%;
}

.projectBoxDescription {
  flex-grow: 1;
  width: 100%;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}

.projectBoxImage {
  width: 100%;
  height: 250px;
  border-radius: 24px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

.projectBoxButton {
  margin-top: auto;
  background: var(--text-white);
  flex-shrink: 0;
  width: 80%;
  height: 45px;
  border-radius: 12px;
  color: var(--bg-card);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.projectBoxButton:hover {
  transform: scale(1.1) translateZ(0);
}

@media (max-width: 1024px) {
  .projectsBoxesGroup {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .projectBox {
    max-width: 550px;
  }
}

@media (max-width: 768px) {
  .tagsGroup {
    flex-wrap: wrap;
  }

  .projectsBoxesGroup {
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
  }

  section {
    scroll-margin-top: 10vh;
  }
}

@media (max-width: 480px) {
  .projectsBoxesGroup {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .projectsTitle {
    font-size: 32px;
  }

  .tagsGroup {
    flex-wrap: wrap;
    max-width: 60%;
    gap: 4px;
  }

  .tag {
    font-size: 9px;
  }

  .projectBox {
    padding: 20px;
    border-radius: 14px;
  }

  .projectBoxTitle {
    font-size: 24px;
  }

  .projectBoxDescription {
    font-size: 13px;
  }
}
