.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  gap: 20px;
}

.footerLogo,
.footerContact,
.footerFindMe,
.footerBackButton {
  flex: 0 1 auto;
  width: max-content;
}

.footerLogo {
  max-width: 120px;
}

.footerLogo img {
  width: 100%;
  height: auto;
  display: block;
}

.footerContactTitle {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footerContactItem {
  margin: 0;
  font-size: 12px;
  margin-bottom: 12px;
}

.footerFindMeTitle {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footerFindMeItemsGroup {
  display: grid;
  /* Criamos 2 colunas que se ajustam estritamente ao conteúdo */
  grid-template-columns: max-content max-content;
  gap: 12px 24px;
}

.footerFindMeItem {
  width: max-content;
  flex-basis: calc(40% - 24px);
  min-width: 120px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  text-decoration: none;
}

.footerFindMeItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 18px;
  color: var(--text-white);
}

.footerFindMeItem p {
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
  color: var(--text-white);
}

.footerBackButton {
  width: 40px;
  height: 40px;
  background: var(--text-white);
  border-radius: 10px;
  color: var(--bg-black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

.footerBackButton:hover {
  transform: scale(1.1);
}

.footerContact,
.footerFindMe {
  align-self: flex-start;
}

@media (max-width: 1100px) {
  .footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    text-align: center;
  }

  .footerLogo,
  .footerBackButton {
    grid-column: span 2;
  }

  .footerContact,
  .footerFindMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: max-content;
  }

  .footerFindMeItemsGroup {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .footerContainer {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 20px;
    text-align: center;
  }

  .footerLogo {
    grid-column: 1;
    width: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerContact,
  .footerFindMe,
  .footerBackButton {
    grid-column: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footerFindMeItemsGroup {
    grid-template-columns: max-content;
    justify-content: center;
    gap: 12px;
  }

  .footerContactTitle,
  .footerFindMeTitle {
    margin-bottom: 12px;
  }

  .footerBackButton {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
}
