.mainWrapper {
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (max-width: 430px) {
  .mainWrapper {
    padding: var(--container-padding);
    gap: var(--section-gap);
    width: 100vw;
    overflow-x: hidden;
  }
}
