body {
  margin: 0;
  background-color: #ece9e9;
  cursor: default;
}

.headerTextGroup {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

.headerTextGroup p {
  font-size: 14px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 3px;
}

.tag {
  border: 2px solid #151313;
  border-radius: 12px;
  display: inline;
  padding: 5px 15px;
  font-weight: 550;
  font-size: 18px;
  transition: all 0.3s ease;
}

.tag:hover {
  background-color: #151313;
  color: #d9d9d9;
  cursor: pointer;
}

.tagGroup {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 10px;
}

.homeButton {
  border: none;
  background-color: #d9d9d9;
  padding: 5px 12px;
  border-radius: 7px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.homeButtonsGroup {
  display: flex;
  justify-content: end;
  padding: 0 60px 0 0;
  gap: 5px;
}
