body {
  margin: 0;
  background-color: #171717;
  color: #f0f0db;
  cursor: default;
  padding: 30px 120px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  max-width: 1200px;
  margin: 0 auto;
}
