:root {
  --bg-black: #171717;
  --bg-card: #1d1d1d;
  --text-white: #f0f0db;
  --text-gray: #9e9e9e;
  --accent-yellow: #b8b42d;

  --section-gap: 180px;
  --container-width: 1500px;
  --container-padding: 30px 120px;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  background-color: var(--bg-black);
  color: var(--text-white);
  font-family:
    "Gabarito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.gabarito-bold {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 15vh;
}

@media (max-width: 1024px) {
  :root {
    --container-padding: 25px 60px;
  }
}

@media (max-width: 430px) {
  * {
    max-width: 100% !important;
    box-sizing: border-box !important;
  }

  :root {
    --container-padding: 40px 25px;
    --section-gap: 60px;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
